body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #002350;
    color: white;
}

header {
    width: 100%;
    display: flex;
    justify-content: left;
    padding: 10px;
    background-color: #002350;
}

header .name {
    font-size: 24px;
    margin: 0;
    padding: 0;
}

main {
    width: 80%;
    max-width: 1200px;
    margin: 20px auto;
    background-color: #002350;
    padding: 20px;
    border-radius: 8px;
}

.welcome-section {
    text-align: center;
    margin-bottom: 20px;
}

.message {
    text-align: center;
    margin-bottom: 20px;
    font-size: 100px;
}

.image {
    display: block;
    margin: 0 auto;
}

.introduction {
    text-align: left;
    margin-top: 200px;
}

.intro-container {
    display: flex;
    align-items: center;
}

.intro-image {
    width: 400px;
    margin-right: 20px;
}

.info {
    font-size: 90px;
    margin-left: 100px;
    text-align: left;
}

.university {
    display: flex;
    align-items: center;
    background-color: #002350;
    padding: 20px;
    border-radius: 8px;
    margin-top: 200px;
}

.university-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.major-info {
    font-size: 36px;
    line-height: 1.5;
    text-align: left;
    max-width: 60%;
    margin-right: 20px;
}

.image2 {
    width: 400px;
    height: auto;
    border-radius: 8px;
}